@import "../../../index.scss";

.update-order {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 106px auto 192px auto;
  column-gap: 45px;
}

.form {
  border: 1px solid $border-color;
  margin: 30px;
  padding: 32px;
  width: 792px;

  & fieldset {
    border: none;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: $regular;
    padding: 0;
  }

  & legend {
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: $bold;
    padding-top: 32px;
  }

  & label {
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: $regular;
    margin-right: 48px;
  }

  & input,
  & select,
  & textarea {
    border-radius: 4px;
    border: 1px solid $lines-color;
    box-sizing: border-box;
    display: inline-block;
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: $regular;
    margin: 16px 0 0 0;
    padding: 10px 12px;
    width: 100%;

    &[type="radio"],
    &[type="checkbox"] {
      height: 10px;
      margin-right: 8px;
      width: 10px;
    }
  }
}

.form-title {
  font-family: $primary-font;
  font-size: 38px;
  font-weight: $bold;
  margin: 0;
}

.form-error-message {
  @include invalid-input;
}
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 38px 0 32px 0;
}

.form-button-dark {
  @include button;
}

.form-button-bright {
  @include button-bright;
}

.form-button-disabled {
  @include button-disabled;
}

@media screen and (max-width: $small-laptop) {
  .update-order {
    column-gap: 35px;
  }

  .form-button-bright {
    width: 180px;
  }

  .form-button-dark {
    width: 180px;
  }

  .form-button-disabled {
    width: 180px;
  }
}

@media screen and (max-width: $tablet) {
  .update-order {
    column-gap: 0;
  }

  .form-title {
    font-size: 28px;
  }

  .form-button-dark {
    width: 110px;
  }

  .form-button-bright {
    width: 110px;
    white-space: nowrap;
  }

  .form-button-disabled {
    width: 110px;
  }
}
