@import "../../../index.scss";

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  height: 453px;
  margin-top: 115px;
  object-fit: contain;
  width: 500px;
}

.carousel-thumbnail {
  margin-top: 20px;

  & button {
    height: 3px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
  }
}

.carousel-thumbnail-active {
  background-color: $gray-color;
  width: 24px;
}

.carousel-thumbnail-inactive {
  background-color: $gray-color;
  opacity: 50%;
  width: 16px;
}

@media screen and (max-width: $small-laptop) {
  .carousel-image {
    width: 435px;
    height: 354px;
  }
}
@media screen and (max-width: $tablet) {
  .carousel-image {
    margin-top: 160px;
    width: 320px;
    height: 254px;
  }
}

@media screen and (max-width: $mobile) {
  .carousel-image {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .carousel-thumbnail {
    position: relative;
    top: -80px;
  }
}
