@import "../../../index.scss";

.books-section {
  background-color: $bright-color;
  z-index: 1;
  margin: 0 96px 0 96px;
  position: relative;
  top: -130px;
}
.books-section-title {
  font-size: 24px;
  font-family: $secondary-font;
  font-weight: normal;
  padding: 0 0 0 24px;
  padding-top: 48px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow-y: scroll;
}

.book-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.book-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $gray-color;
}

@media screen and (max-width: $tablet) {
  .books-section {
    margin: 0 70px 0 70px;
  }
}

@media screen and (max-width: $mobile) {
  .books-section {
    margin: 0 30px 0 30px;
  }
}
