@import "../../../index.scss";

.carousel {
  background-color: $secondary-background-color;
  column-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  height: 794px;
  margin-left: 24px;
  margin-right: 24px;
}

.carousel-content {
  text-align: left;
  margin-top: 224px;
  margin-left: 120px;
  white-space: nowrap;

  & span {
    display: block;
  }
}

.carousel-title {
  font-family: $primary-font;
  font-size: 64px;
  font-weight: $bold;
  margin-bottom: 0;
}

.carousel-text {
  color: $secondary-color;
  font-family: $secondary-font;
  font-weight: $regular;
  font-size: 20px;
  height: 52px;
  margin-top: 25px;
}

@media screen and (max-width: $small-laptop) {
  .carousel {
    height: 680px;
  }

  .carousel-content {
    margin-top: 180px;
    margin-left: 50px;
    white-space: wrap;
  }

  .carousel-title {
    font-size: 50px;
  }

  .carousel-text {
    font-size: 18px;
    & span {
      display: inline;
    }
  }
}

@media screen and (max-width: $tablet) {
  .carousel {
    height: 630px;
    margin: 0 10px 0 10px;
  }

  .carousel-content {
    margin-left: 30px;
  }

  .carousel-title {
    font-size: 38px;
  }

  .carousel-text {
    font-size: 15px;
  }
}

@media screen and (max-width: $mobile) {
  .carousel {
    display: flex;
    flex-direction: column;
    height: 600px;
    padding-bottom: 10rem;
  }

  .carousel-content {
    margin: 10rem 2rem 0rem 2rem;
    text-align: center;
  }
}
