@import "./index.scss";
body {
  margin: 0;
}

.content {
  min-height: 100vh;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $secondary-color;
}
