@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Roboto:wght@400;700&display=swap");

$primary-color: #000;
$secondary-color: #262626;
$accent-color: #b69454;
$gray-color: #595959;
$bright-color: #ffffff;
$secondary-background-color: #f3f1ee;
$footer-background-color: #d5d4d0;
$lines-color: hsl(0, 0%, 91%);
$lines-color: #e9e9e9;
$border-color: #d9d9d9;

$primary-font: "Lora", serif;
$secondary-font: "Roboto", sans-serif;
$regular: 400;
$bold: 700;
$semi-bold: 600;

$tablet: 768px;
$small-laptop: 1024px;

@mixin invalid-input {
  color: rgb(171, 5, 5);
  font-family: $secondary-font;
  font-weight: $regular;
  margin-top: 5px;
}

@mixin button {
  align-items: center;
  background-color: $primary-color;
  border-radius: 4px;
  border: none;
  color: $bright-color;
  display: flex;
  font-family: $secondary-font;
  font-size: 14px;
  justify-content: center;
  padding: 11px;
  text-align: center;
  width: 232px;
  cursor: pointer;

  & .button-icon {
    font-size: 20px;
    padding-right: 8px;
  }
}

@mixin button-bright {
  @include button;
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  padding: 10px;
}

@mixin button-custom {
  border: none;
  cursor: pointer;
  font-family: $secondary-font;
  font-size: 20px;
  height: 0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

@mixin button-custom-icon {
  padding-right: 8px;
  position: relative;
  top: 2px;
}

@mixin button-disabled {
  @include button;
  background-color: #bfc0c2;
  cursor: not-allowed;
}

@mixin two-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
